@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 54px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.header__logo-img {
  max-width: 100%;
  height: 27px;
  object-fit: contain;
  display: inline-flex;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
}

.header__language {
  display: inline-flex;
  align-items: center;
}

.header__language-ukr {
  margin-left: 12px;
  width: 26px;
  height: 18px;
  font-size: 13px;
  font-family: NotoSans-Regular;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.header__language-strip {
  height: 24px;
  width: 1px;
  background-color: #424242;
  margin-left: 12px;
}

.header__language-rus {
  margin: 0 12px;
  width: 25px;
  font-weight: bold;
  height: 18px;
  font-size: 13px;
  font-family: OpenSans;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  margin: 0 7.1222vw 0 7.1222vw;
  display: flex;
  flex-direction: column;
}

.main__title {
  width: 100%;
  height: 42px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #424242;
  font-family: OpenSans;
}

.question__title {
  width: 100%;
  height: 46px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  font-family: OpenSans;
}

.question li {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  font-family: OpenSans;
}

.remember {
  width: 100%;
  height: 109px;
  border-radius: 8px;
  background-color: #f3f3f3;
  position: relative;
}

.remember .remember__title {
  width: 76px;
  height: 17px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #ff4343;
  text-transform: uppercase;
  padding: 12px 0 0 12px;
  margin: 0;
}

.remember .remember__text {
  height: 54px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  margin: 0 3.84vw 0 3.84vw;
}

button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
  height: 205px;
  z-index: -1;
  vertical-align: top;
}

.camera_record {
  width: 154px;
  height: 34px;
  border-radius: 17px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 12px 0 0 12px;
}

.camera_record p {
  width: 147px;
  height: 14px;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #424242;
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 40px;
}

.camera_recordNow {
  width: 154px;
  height: 34px;
  border-radius: 17px;
  background-color: #ff5d5d;
  align-items: center;
  position: absolute;
  margin: 12px 0 0 12px;
  display: none;
}

.camera_recordNow p {
  width: 147px;
  height: 14px;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.camera_recordPause {
  width: 154px;
  height: 34px;
  border-radius: 17px;
  background-color: #dde2e6;
  align-items: center;
  position: absolute;
  margin: 12px 0 0 12px;
  display: none;
}

.camera_recordPause p {
  width: 147px;
  height: 14px;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.button__record {
  height: 19px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
  text-decoration: none;
}

button {
  background-color: #dde2e6;
  /* Green */
  border: none;
  color: #424242;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 85vw;
  margin: 0 7.1222vw 20px 7.1222vw;
}

.button2 {
  display: none;
}

#download {
  display: none;
}

#play {
  margin: 0;
}

.play {
  display: none;
  position: absolute;
  height: 205px;
  background-color: #323232;
  border-bottom: 2px solid #777777;
  width: 275px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 1000;
  color: #fff;
}

#nextPage {
  display: block;
}

.container:first-child {
  color: #424242;
}

@media (min-width: 520px) and (max-width: 768px) {
  video {
    height: 330px;
  }
  .play {
    height: 330px;
    width: 440px;
  }
  #container {
    margin-left: 10vw;
  }
}

#mins {
  margin-left: 2vw;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.main__timer {
  display: flex;
  margin-bottom: 2%;
}

#record {
  display: none;
}

.main__step {
  width: 100%;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
  font-family: OpenSans;
}

.main__title {
  width: 100%;
  height: 100px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #424242;
  font-family: OpenSans;
}

.main__info {
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  font-family: OpenSans;
}
