@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  width: 100%;
  height: 54px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.header__logo-img {
  max-width: 100%;
  height: 27px;
  object-fit: contain;
  display: inline-flex;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
}

.header__language {
  display: inline-flex;
  align-items: center;
}

.header__language-ukr {
  margin-left: 12px;
  width: 26px;
  height: 18px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: OpenSans-Regular;
}

.header__language-strip {
  height: 24px;
  width: 1px;
  background-color: #424242;
  margin-left: 12px;
}

.header__language-rus {
  margin: 0 12px;
  width: 25px;
  height: 18px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: OpenSans;
}

.main__img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.container__title {
  display: flex;
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  color: #424242;
  font-family: "OpenSans";
}

.container__text {
  display: flex;
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "NotoSans";
}

.container {
  margin: 0 7.1222vw 0 7.1222vw;
  display: flex;
  flex-direction: column;
}

.input__number {
  margin-top: 20px;
  width: 100%;
  height: 56px;
  border: 1px solid #dde2e6;
  font-size: 17px;
  color: #424242;
}

.input {
  position: relative;
  text-align: center;
}

.input__number::-webkit-input-placeholder {
  font-size: 17px;
  text-indent: 20px;
}

.input__number:-moz-placeholder {
  font-size: 17px;
  text-indent: 20px;
}

.input__number::-moz-placeholder {
  font-size: 17px;
  text-indent: 20px;
}

.input__number:-ms-input-placeholder {
  font-size: 17px;
  text-indent: 20px;
}

.input__icon {
  position: absolute;
  right: 20px;
  top: 43px;
}
.input__number{
  padding-left: 4vw;
}

input[type="text"]:focus {
  color: #424242;
}
